$font-family-sans-serif: "Rubik", sans-serif;

$primary: #5265e1;
$secondary: #fa5959;

$accordion-button-active-bg: transparent;
$accordion-button-focus-box-shadow: #9c141400;
$accordion-icon-active-color: $primary;
$accordion-button-icon: url("../Recursosentrega S1.2.-20240418/Imagenes/icon-arrow.svg");

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Cortar lo que queda fuera de la pagina
html,
body {
  overflow-x: hidden;
}

//Estilo navbar
.navbar-nav .nav-item .nav-link, footer {
  letter-spacing: 0.1rem;
  font-size: 12px;
  border-radius: 4px;
}

.h1,
.h2 {
  letter-spacing: 0.03rem;
}

p {
  color: grey;
}

// Estilo boton login
.btn-danger {
  letter-spacing: 0.1rem;
  background-color: $secondary;
  border-color: $secondary;
  box-shadow: 0px 4px 6px lightgray;
  padding: 6px 20px;
  font-size: 12px;
  border-radius: 4px;
}

// Estilo boton Chrome and Firefox
.btn-primary,
.btn-light {
  box-shadow: 0px 4px 6px lightgray;
  letter-spacing: 0.01rem;
  font-size: 12px;
  border-radius: 4px;
}

//Superposición img
#hero-img {
  position: relative;
  z-index: 2;
}

//forma azul derecha
.blue-form-right {
  position: absolute;
  z-index: -1;
  width: 100%; //en % para que no se desbarate
  height: 80%;
  top: 10%;
  left: 30%;
  background-color: $primary;
  border-bottom-left-radius: 30%;
}

//Forma azul izq.
.blue-form-left {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 10%;
  right: 50%;
  background-color: $primary;
  border-bottom-right-radius: 30%;
}

// Estilo de los enlaces de navegación personalizados
.nav-link {
  color: gray;
}

.nav-link.active {
  color: black;
  border-color: $secondary !important;
}

.nav-link:hover {
  color: gray;
}

.card {
  &.h-100 {
    .card-img-top {
      width: 150px;
    }
  }
}

.dots {
  border-top: 3px dotted lightgrey;
}

.accordion-item {
  border-left: none;
  border-right: none;
}

.p-footer {
  letter-spacing: 0.5rem;
  font-size: 10px;
}

.btn-secondary{
  letter-spacing: 0.05rem;
  background-color: $secondary;
  border-color: $secondary;
  padding: 9px 20px;
  font-size: 12px;
  border-radius: 4px;
}
